{
	"parser": "@typescript-eslint/parser",
	"extends": ["plugin:@typescript-eslint/recommended", "preact"],
	"rules": {
		"@typescript-eslint/explicit-function-return-type": [0],
		"@typescript-eslint/interface-name-prefix": [0]
	},
	"ignorePatterns": ["build/"]
}
